body{
    background-color: #131937;
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, sans-serif;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* Header */
header{
    margin-top: 50px;
    margin-bottom: 70px;
}
nav{
    position: absolute;
    top: 45px;
    left: 0;
}

.top--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: #ffffff 0 5px 20px;
}

.top--container__left{
    display: inline-flex;
}

.top--container__center {
    display: inline-flex;
}

.top--container__right{
    display: inline-flex;
}

.top--container__right img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* INDEX - Main */
.artist--container{
    text-align: center;
    margin-bottom: 100px;
}

.artist--container h4 {
    font-size: 20px;
    margin-top: 50px;
}

.artist--container h1 {
    font-size: 56px;
    margin-top: -30px;
}

.artist--container p {
    font-size: 17px;
    margin-top: -35px;
    margin-bottom: 45px;
}

.artist--container a{
    font-size: 20px;
    font-weight: bold;
    background-color: #1D65B9;
    border-radius: 40px;
    padding: 25px 50px;
}

.user--content-container{
    text-align: center;
}

.user--content-container img{
    margin: 5px;
}

/* INDEX - Profile */
.profile--overall-info{
    text-align: center;
}

.profile--overall-info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile--overall-info h2{
    font-size: 20px;
}

.follows--container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile--followers{
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.profile--followers h2{
    font-size: 20px;
}

.profile--followers p{
    margin-top: -15px;
    font-weight: lighter;
}

.user--content-container{
    text-align: center;
}

/* MAIN - Settings */
.settings--item{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border-radius: 20px;
    border-width: 2px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.settings--item span{
     margin-top: 12px;
     padding-right: 10px;
     color: #000000;
}

.settings--item p{
    color: #000000;
}

/* MAIN - Contact */
.contact--container{
    text-align: center;
    font-size: large;
    margin-bottom: 50px;
}

form{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 40px;
    border-radius: 10px;
}

form input{
    width: 95%;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}

form h2{
    text-align: left;
    font-size: xx-large;
}

.form--pick-question select{
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

.form--message-container {
    text-align: left;
}

.form--message-container textarea{
    width: 95%;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 40px;
    resize: none;
}

.form--send-message{
    font-size: 16px;
    font-weight: bold;
    background-color: #1D65B9;
    border-radius: 40px;
    padding: 10px 20px;
}

/* MAIN - Search */
.search--container{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.search--container h4{
    font-size: x-large;
}

.search--input-container{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin-top: -20px;
}

.search--input-container span{
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.search--input-container input{
    width: 80%;
    padding-bottom: 10px;
    font-size: large;
    height: 20px;
    border: none;
    outline: none;
}

/* FOOTER */
footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
