body{
    background-color: #131937;
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', Dotum, sans-serif !important;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}

a{
    color: #ffffff;
    text-decoration: none !important;
}

ul{
    list-style-type: none;
}

/* Header */
header{
    margin-top: 50px;
    margin-bottom: 70px;
    grid-area: header;
}

main{
    grid-area: main;
}

nav{
    top: 45px;
    left: 0;
}

#menu{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 0;
    margin: 10px;
}

#menu--btn{
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    margin-top: -13px;
    box-shadow: #ffffff 0 0 20px;
}

.menu--content{
    margin-top: 30px !important;
    font-size: 20px;
}

.menu--content a{
    color: black;
    margin-left: -10px;
}

.p-4{
    margin-top: -10px;
    background-color: white;
    border-radius: 20px;
}

.top--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: #ffffff 0 5px 20px;
}

.top--container__left{
    display: inline-flex;
}

.top--container__center {
    display: inline-flex;
}

.top--container__right{
    display: inline-flex;
}

.top--container__right img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top--container__right i{
    padding: 10px;
}

/* INDEX - Main */
.artist--container{
    text-align: center;
    margin-bottom: 100px;
}

.artist--container h4 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.artist--container h1 {
    font-size: 56px;
    margin-top: -30px;
}

.artist--container p {
    font-size: 17px;
    margin-top: -10px;
    margin-bottom: 45px;
}

.artist--container a{
    font-size: 20px;
    font-weight: bold;
    background-color: #1D65B9;
    border-radius: 40px;
    padding: 25px 50px;
    transition: 0.3s;
}

.user--content-container{
    text-align: center;
}

.user--content-container img{
    transition: 0.3s;
    cursor: pointer;
    margin: 5px;
}

/* INDEX - Profile */
.profile--overall-info{
    text-align: center;
}

.profile--overall-info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile--overall-info h2{
    font-size: 20px;
}

.follows--container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile--followers{
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.profile--followers h2{
    font-size: 20px;
}

.profile--followers p{
    margin-top: -15px;
    font-weight: lighter;
}

.user--content-container{
    text-align: center;
}

/* MAIN - Settings */
.settings--item{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border-radius: 20px;
    border-width: 2px;
    padding-left: 30px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.settings--item i{
     margin-top: 15px;
     padding-right: 10px;
     color: #000000;
}

.settings--item p{
    color: #000000;
}

.settings--item:hover{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MAIN - Contact */
.contact--container{
    text-align: center;
    font-size: large;
    margin-bottom: 50px;
}

form{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 40px;
    border-radius: 10px;
}

form input{
    width: 95%;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;
}

form h2{
    text-align: left;
    font-size: xx-large;
}

.form--pick-question select{
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form--message-container {
    text-align: left;
}

.form--message-container textarea{
    width: 95%;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 40px;
    resize: none;
    border-radius: 10px;
}

.form--send-message{
    font-size: 16px;
    font-weight: bold;
    background-color: #1D65B9;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.form--send-message:hover{
    background-color: #ffffff;
    color: #1D65B9;
    padding: 20px;
}


/* MAIN - Search */
.search--container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    text-align: left;
}

.search--container h4{
    font-size: x-large;
    margin-bottom: 20px;
}

.search--container i{
    color: #000000;
    padding: 10px;
}

.search--input-container{
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    margin-top: -10px;
    padding: 10px;
}

.search--input-container input{
    width: 80%;
    font-size: large;
    height: 30px;
    border: none;
    outline: none;
}

/* FOOTER */
footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-area: footer;
}


#btn_random_album:hover{
    padding: 30px 60px;
}

.user--content-container img:hover{
    border-radius: 30%;
}

@media (max-width: 500px) {
    .form--send-message {
        font-size: 14px;
    }
}
