$icons-color: #000000;

.search--container{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  text-align: left;

  h4{
    font-size: x-large;
    margin-bottom: 20px;
  }

  i{
    color: $icons-color;
    padding: 10px;
  }
}

.search--input-container{
  background-color: #ffffff;
  color: $icons-color;
  border-radius: 10px;
  margin-top: -10px;
  padding: 10px;

  input{
    width: 80%;
    font-size: large;
    height: 30px;
    border: none;
    outline: none;
  }
}